* {
	box-sizing: border-box;
}

 body{
	overflow-x: hidden;
}

@media only screen and (max-width: 450px) {
	 body {
		max-width: 100%;
		overflow-x: hidden;
	}

	html{
		overflow-x: hidden;
		width: 100%;
	}
	
}

/* image */

.images{
	position: absolute;
	left: 0;
	top: 0;
    filter: brightness(0.6);
    object-fit: cover;
    height: 50vh;
    width: 100%;
    overflow-x: hidden;

	
}


/* image */

/* navbar */
.sticky{
	background-color: #223855;
	color: #fff;
	position: sticky;
	transition: .3s;
}
.navbar-toggler{
	border: none;
	outline: none;
	color: #fff;
	font-size: 31px;
}

.mobile-nav-toggles{
	color: #fff;
}

.navbar{
	margin: 0;
}

.navbar span{
	margin-left: 80px;
}
.navbar-nav{
	position: relative;
	left: -15%;
}

.navbar-nav .nav-item{
	margin-left: 30px;
}

.nav-link{
	position: relative;
}
.nav-link:after{
	content: "";
	position: absolute;
	width: 0;
	height: 5%;
	bottom: 0;
	left: 0;
	background-color: #fff;
}
#active{
	border-bottom: 2px solid #fff;
	width: 65px;
}

.nav-link:hover:after{
	width: 84%;
	margin-left: 6px;
	transition: .3s;
}

@media (max-width: 768px) {
	.navbar span{
		margin-left: 11px;
	}
	.navbar-nav{
		position: relative;
		margin-top: 5%;
		line-height: 1.7em;
		left: -3%;
	}
	.nav-link:hover:after{
		width: 12%;
		transition: .3s;
		margin-left: -2px;
	}
}

/* navbar */


/* body */


.body h2{
	position: absolute;
	top: 30%;
	font-family: initial;
	letter-spacing: 2px;
	font-size: 65px;
}

@media (max-width: 768px) {
	
	.body h2{
		font-size: 8.6vh;
	}

	.images{
		position: absolute;
		left: 0;
	   top: 0;
      filter: brightness(0.6);
      object-fit: cover;
      height: 45vh;
      width: 100%;
      overflow-x: hidden;


	}
}

/* body */


/* about me */
.abouts{
	background-color: #E9f6ff;
	width: 100%;
	height: 900px;
}

.aboutme{
	position: absolute;
	top: 61%;
	left: 7%;
	}
 .im img{
	width: 620px;
	height: 500px;
}

.parag{
	position: absolute;
	top: -2%;
	left: 105%;
	width: 440px;
}
.parag .parag-body h5{
	font-size: 22px;
}
.parag .parag-body p{
	line-height: 1.5em;
}
.parag .parag-body a{
	text-decoration: none;
	color: #000;
	padding: 14px 65px;
	border: 1px solid #000;
	position: absolute;
	top: 103%;
	font-size: 19px;
}
.parag .parag-body a:hover{
	background-color: rgba(34,56,85,1);
	color: #fff;
}

@media (max-width: 768px) {
	.abouts{
		position: absolute;
		height: 970px;
		top: 45.3%;
		width: 100%;

	}
	.aboutme{
		position: absolute;
		top: 6%;
		left: 12.5%;
	}
	.im img{
		width: 110%;
		height: 270px;
		object-fit: cover;
		object-position: bottom;
		position: relative;
		right: 13%;
	
	}
	.parag{
		position: absolute;
		top: 104%;
		left: -10%;
		width: 390px;
	}
}
/* end about me */

/* contactss section */
.cont{
	
	position: relative;
	margin-top: 6%;
	height: 150px;
}
.imgg img{
	width: 620px;
	height: 320px;
	position: absolute;
	top: 90%;
	left: 74%;
	transform: translate(-50%, -50%);


}
.cont .cont-body h1{
	float: left;
	font-size: 45px;
	letter-spacing: 2px;
	position: relative;
	margin-left: 10%;
	margin-top: 7%;
}
.cont .cont-body p{
	font-size: 19px;
	float: left;
	position: relative;
	margin-left: 33%;
	margin-top: 1%;
}
.cont .cont-body a{
	text-decoration: none;
	color: #fff;
	background-color: rgba(0,190,242,1);
	padding: 17px 78px;
	position: absolute;
	top: 120%;
	left: 19.3%;
}
.cont .cont-body a:hover{
	color: rgba(0,190,242,1);
	background-color: #fff;
	border: 1px solid rgba(0,190,242,1);
}

@media only screen and (max-width: 700px) {
	.cont{
		position: absolute;
		top: 205%;
		right: 18%;
	}
	 .imgg img{
		width: 110%;
		height: 270px;
		position: absolute;
		top: 70%;
		left: 61%;
		transform: translate(-50%, -50%);
		object-fit: cover;
		object-position: bottom;
	}

	.cont-body{
		margin-top: 250px;
	}
	#heads{
		font-size: 33px;
		text-align: center;
		margin-left: 86px;
	}
	#pags{
		font-size: 16px;
		margin-top: 10px;
	}
	.cont .cont-body a{
		position: absolute;
		top: 287%;
		left: 35.4%;
		padding: 16px 65px;
	}
}

/* end intro section */

/* Footer Section */

footer{
	position: relative;
	background-color: rgba(34,56,85,1);
	margin-top: 15%;
	width: 100%;
	height: 375px;
}

.footer{
	position: relative;
	margin-left: 7%;
	color: #fff;
	
}
#head0{
	font-family: monospace;
	margin-top: -10px;
}
#head1{
	position: relative;
	margin-left: 17%;
	margin-top: 5%;
	font-family: monospace;
	font-size: 19px;
}
#head2{
	font-family: monospace;
	font-size: 19px;
}
#head3{
	font-family: monospace;
	font-size: 19px;
}
.link1{
	position: relative;
	margin-left: 15%;

}

.footer ul li {
	list-style: none;
	line-height: 1.5em;
}
.link2{
	position: relative;
	margin-top: 5%;
	margin-left:-10%;
}
.link3{
	position: relative;
	margin-left: -10%;
	margin-top: 5%;
}
.ico{
	color: #fff;
	font-size: 30px;
}
.ico a{
	letter-spacing: 10px;
	color: #fff;
}

#pag3{
	position: relative;
	margin-top: 20%;
}

.footer:after{
	content: "";
	position: absolute;
	top: 82%;
	width: 108%;
	height: 1px;
	background-color: #fff;
	border-bottom: 1px solid #fff;
	left: -8%;
}

@media only screen and (max-width: 770px) {
	footer {
		display: flex;
		position: absolute;
		top: 286%;
		height: 840px;

	}
	.footer{
		position: relative;
		margin-left: 0%;
	}
	#head0{
		font-size: 4vh;
	}
	#pag1{
		width: 380px;
		line-height: 1.5em;
	}
	
	#head1{
		position: absolute;
		left: -14%;
		top: 21%;
	}
	.link1{
		position: relative;
		margin-left: -5%;
		margin-top: 3%;
		line-height: 7em;
	}
	#head2{
       position: absolute;
       top: 47%;
       left: 3%;
	}
	.link2{
		position: relative;
		margin-left: -5%;
	}
	#head3 {
       position: absolute;
       top: 65.5%;
       left: 3%;
	}
	.link3{
		position: relative;
		margin-left: -5%;
	}

	.footer:after{
		content: "";
	    position: absolute;
	    top: 93%;
	    width: 108%;
	    height: 1px;
	    background-color: #fff;
	    border-bottom: 1px solid #fff;
	    left: -8%;
	}
	#col4{
		margin-top: -10%;
	}
}

/* End Footer Section */