* {
	box-sizing: border-box;
}

body{
	overflow-x: hidden;
}
@media (max-width: 600px) {
	body{
      overflow-x: hidden;
	}
	html{
		overflow-x: hidden;
	}
   
}
/* image */

.images{
	position: absolute;
	left: 0;
	top: 0;
	filter: brightness(0.6);
	object-fit: cover;
	height: 50vh;
	width: 100%;
	overflow-x: hidden;
}


/* image */

/* navbar */
.sticky{
	background-color: #223855;
	color: #fff;
	position: sticky;
	transition: .3s;
}
.navbar-toggler{
	border: none;
	outline: none;
	color: #fff;
	font-size: 31px;
}

.mobile-nav-toggles{
	color: #fff;
}

.navbar{
	margin: 0;
}

.navbar span{
	margin-left: 80px;
}
.navbar-nav{
	position: relative;
	left: -15%;
}

.navbar-nav .nav-item{
	margin-left: 30px;
}

.nav-link{
	position: relative;
}
.nav-link:after{
	content: "";
	position: absolute;
	width: 0;
	height: 5%;
	bottom: 0;
	left: 0;
	background-color: #fff;
}
#active{
	border-bottom: 2px solid #fff;
	width: 65px;
}

.nav-link:hover:after{
	width: 84%;
	margin-left: 6px;
	transition: .3s;
}

@media screen and (max-width: 600px) {
	.navbar span{
		margin-left: 11px;
	}
	.navbar-nav{
		position: relative;
		margin-top: 5%;
		line-height: 1.7em;
		left: -3%;
	}
	.nav-link:hover:after{
		width: 12%;
		transition: .3s;
		margin-left: -2px;
	}
}

/* navbar */


/* body */


.body h2{
	position: absolute;
	top: 30%;
	font-family: initial;
	letter-spacing: 2px;
	font-size: 65px;
}

@media screen and (max-width: 700px) {
	
	.body h2{
		
		font-size: 53px;
	}
}

/* body */


/* about me */
.abouts{
	background-color: #E9f6ff;
	width: 100%;
	height: 900px;
}

.aboutme{
	position: absolute;
	top: 61%;
	left: 7%;
	}
 .im img{
	width: 620px;
	height: 500px;
}

.parag{
	position: absolute;
	top: -2%;
	left: 105%;
	width: 440px;
}
.parag .parag-body h5{
	font-size: 22px;
}
.parag .parag-body p{
	line-height: 1.5em;
}
.parag .parag-body a{
	text-decoration: none;
	color: #000;
	padding: 14px 65px;
	border: 1px solid #000;
	position: absolute;
	top: 103%;
	font-size: 19px;
}
.parag .parag-body a:hover{
	background-color: rgba(34,56,85,1);
	color: #fff;
}

@media screen and (max-width: 800px) {
	.abouts{
		position: absolute;
		height: 1065px;
		top: 50%;
		width: 100%;

	}
	.aboutme{
		position: absolute;
		top: 6%;
		left: 12.5%;
	}
	.im img{
		max-width: 112%;
		height: 307px;
		position: relative;
		margin-left: -13%;
	
	}
	.parag{
		position: absolute;
		top: 104%;
		left: -10%;
		width: 390px;
	}
}
/* end about me */

/* contactss section */
.contactme{
	position: relative;
	margin-left: 5%;
	margin-top: 11%;
	display: flex;
}

.contactbody{
	max-width: 400px;
	float: left;

}
.contactbody h1{
	font-size: 45px;
	letter-spacing: 2px;
	width: 600px;
}
.contactbody p{
	font-size: 20px;
	position: relative;
	margin-top: 4%;
	margin-left: 30%;
}
.contactbody a{
	text-decoration: none;
	position: absolute;
	top: 60%;
	left: 10.4%;
	color: #fff;
	font-size: 20px;
	background-color: rgba(0,190,242,1);
	padding: 17px 79px;


}
.contactbody a:hover{
	background-color: #fff;
	color: rgba(0,190,242,1) ;
	border: 1px solid rgba(0,190,242,1);
}

.contactme img {
	width: 650px;
    height: 319px;
    background-position: center;
    position: relative;
    margin-left: 150%;
    margin-top: -50%;


}

@media (max-width: 600px) {
	.contactme{
		position: absolute;
		top: 117%;
		left: 51%;
		transform: translate(-50%, -50%);
	}
	.contactbody{
		position: relative;
		margin-left: 13%;
		margin-top: 380%;
	}
	.contactme img{
		position: relative;
		margin-left: -6.7%;
		margin-top: -135%;
		max-width: 440px;
		max-height: 270px;
	}
	.contactbody h1{
		font-size: 33px;
		position: relative;
		margin-top: 90%;
		margin-left: 34%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	.contactbody p{
		position: relative;
		text-align: center;
		margin-top: 1%;
		margin-left: -33%;
	}

	.contactbody a{
		position: absolute;
		top: 105%;
        left: 6%;
        padding: 16px 70px;
	}
    
}
/* end intro section */