* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



.navbar span{
	margin-left: 60px;
}
.navbar-toggler{
	border: none;
	outline: none;
	font-size: 32px;
	color: #fff;
}
#nav{
	position: relative;
	left: -20%;
 }
.navbar-nav .nav-item{
    margin-left: 30px;
}

.navbar-link .nav-item .nav-link{
	margin-left: -50px;
}
.nav-link{
	position: relative;
}
.nav-link:after{
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	width: 0;
	height: 3%;
	background-color: #fff;
}
#active{
	border-bottom: 2px solid #fff;
	width: 64px;
}

.nav-link:hover:after{
	width: 98%;
	transition: 0.2s;
}
@media screen and (max-width: 600px) {
	body{
		box-sizing: border-box;
		overflow-x: hidden;
	}
	.navbar{
		overflow-x: hidden;
	}
	#nav{
		position: relative;
		left: -3%;
		margin-top: 5%;
		line-height: 1.9em;
	}
	.navbar span{
		margin-left: 10px;
		margin-top: 6px;
	}
	#active{
		width: 52px;
	}
	.nav-link:hover:after{
		width: 10%;
	}
}