* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin: 0 auto;
}
html{
   overflow-x: hidden;
}
@media only screen and  (max-width: 770px) {
    html, body{
		overflow-x: hidden;

	 }

	
}
.navbar{
	margin-top: 10px;
	margin-left: 160px;
	z-index: 999;
}

.navbar-toggler {
	font-size:30px;
	border: none;
	outline: none;

}

.mobile-nav-toggle{
	color: #fff;
}

.navbar-nav{
	position: relative;
	left: -24%;
}

.navbar-nav .nav-item{
	margin-left: 30px;
}
#nav-link{
	position: relative;
}
#active{
	border-bottom: 2.7px solid #fff;
}
#nav-link:before{
	content: "";
	position: absolute;
	width: 0;
	height: 5%;
	bottom: 0;
	left: 0;
	background-color: #fff;
}
#nav-link:hover:before{
	width: 80%;
	margin-top: -10px;
	margin-left: 6px;
	transition: .2s;
}
.image{
	background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  url(../image/123.jpg);
	position: absolute;
	width: 100%;
	height: 400px;
	top: 0%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	}

.image h1{
	position: absolute;
	top: 76%;
	left: 50%;
	font-size: 60px;
	color: #fff;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 770px) {
	.navbar{
		margin-top: 0;
		margin-left: 0px;
		line-height: 0.7em;
	}
	.navbar-nav{
	 position: relative;
	 left: 2%;
	 margin-top: 5%;

	}
	#active{
		width: 40px;
		margin-left: 10px;
	}
	#nav-link:before{
	content: "";
	position: absolute;
	width: 0;
	height: 5%;
	bottom: 0;
	left: 0;
	background-color: #fff;
}

	#nav-link:hover:before{
	 width: 10%;
	 margin-top: -10px;
	 transition: .2s;
}

	.image{
	 background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),  url(../image/123.jpg);
	 position: absolute;
	 height: 330px;
	 top: 0%;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	
	}

	.image h1{
		font-size: 49px;
		position: absolute;
		top: 79%;
	}
}

/* service section */
.servicess{
	position: absolute;
	top: 72%;
}
.service{
	position: relative;
	margin-left: 11.6%;
}

 .img img{
	width: 360px;
	height: 190px;

}
#col-1{
	margin-right: 95px;
}
#col-2{
	margin-right: 95px;
}
#parag-1{
	width: 500px;
	margin-left: 0px;
}
#parag-3{
	width: 430px;
}
#head-2{
	width: 340px;
}
#link-2{
	position: relative;
	margin-top: 8%;
}

@media screen and (max-width: 770px) {
      .servicess{
      	position: absolute;
      	left: 49%;
      	transform: translate(-50%, -50%);

     }
     .service{
     	position: relative;
     	margin-top: 200%;
     }
	}
	.img img{
		max-width: 340px;
	}
	#col-1{
		margin-bottom: 28px;
	}
	#col-2{
		margin-bottom: 43px;
	}
	#col-3{
		margin-bottom: 28px;
	}
	#link-2{
		position: absolute;
		top: 59.5%;
	}
	#parag-1{
		max-width: 340px;
	}

	#parag-3{
		max-width: 340px;
	}
}

/* End service section */

/* Footer section */
footer{
	position: relative;
	margin-top: 57%;
	color: #fff;
	background-color: rgba(34,56,85,1);
	width: 100%;
	height: 375px;
}

.footer{
	position: relative;
	margin-top: 57%;
	color: #fff;
	background-color: rgba(34,56,85,1);
	width: 100%;
	height: 375px;
}
#head0{
	font-family: monospace;
	margin-top: -10px;
}
#head1{
	position: relative;
	margin-left: 17%;
	margin-top: 5%;
	font-family: monospace;
	font-size: 19px;
}
#head2{
	font-family: monospace;
	font-size: 19px;
}
#head3{
	font-family: monospace;
	font-size: 19px;
}
.link1{
	position: relative;
	margin-left: 15%;

}

.footer ul li {
	list-style: none;
	line-height: 1.5em;
}
.link2{
	position: relative;
	margin-top: 5%;
	margin-left:-10%;
}
.link3{
	position: relative;
	margin-left: -10%;
	margin-top: 5%;
}
.ico{
	color: #fff;
	font-size: 30px;
}
.ico a{
	letter-spacing: 10px;
	color: #fff;
}

#pag3{
	position: relative;
	margin-top: 20%;
}

.footer:after{
	content: "";
	position: absolute;
	top: 82%;
	width: 108%;
	height: 1px;
	background-color: #fff;
	border-bottom: 1px solid #fff;
	left: -8%;
}

@media only screen and (max-width: 770px) {
	footer {
	   position: absolute;
	   top: 230%;
	}
	.footer{
		position: relative;
		margin-top: 0%;
		width: 100%;
	   height: 845px;

	}
	.footer #head0 {
		font-size: 4vh;

	}
	.footer #pag1{
		width: 380px;
	}
	.footer #head1{
		position: absolute;
		top: 22%;
		left: -14.5%;
	}
	.footer .link1{
		position: relative;
		margin-left: -6%;
		margin-top: 4%;
		line-height: 8em;
	}

	.footer #head2{
		position: absolute;
		top: 48%;
		left: 3%;
	}
	.footer .link2{
		position: relative;
		margin-left: -6%;
		margin-top: 4.3%;
	}
	.footer #head3{
		position: absolute;
		top: 65%;
		left: 3%;
	}
	.footer .link3{
		margin-left: -29px;
		margin-top: 19px;
	}

	.footer:after{
		content: "";
	   position: absolute;
	   top: 91%;
	   width: 108%;
	   height: 1px;
	   background-color: #fff;
	   border-bottom: 2px solid #fff;
	   left: -8%;
	}
	#col4{
		position: absolute;
		top: 83%;
		z-index: 999;
	}
}



/* End Footer Section */