/* Header Section */

* {
    box-sizing: border-box;
}


body{
    overflow-x: hidden;
    margin-top: 0px;
}

@media screen and (max-width: 900px) {
    body{
        overflow-x: hidden;
    }
    html{
        overflow-x: hidden;
    }
    .navbar{
        overflow-x: hidden;
    }
}


.sticky{
    background-color: #223855;
    color: #fff;
    transition: 0.3s;
}
.navbar{
    margin-top: 10px;
}
.navbar-toggler{
    background: none;
    border: 0;
    outline: 0;

}

.mobile-nav-toggle{
    font-size: 29px;
    color: #fff;
    border: 0;
}
.navbar-nav{
    margin-right: 160px;
}
.navbar span{
    margin-left: 60px;
}
.navbar-nav .nav-item .nav-link{
     font-size: 18px;
     position: relative;
     margin-left: 27px;
}

.nav-link{
    position: relative;
}
 .nav-link:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0%;
    height: 3px;
    bottom: 0;
    background-color: #fff;


}
 #active{
    border-bottom: 2px solid #fff;
}

.nav-link:hover:after{
    width: 100%;
    transition: 0.2s;
}

@media screen and (max-width:900px) {
    .navbar{
        margin-top: 4px;
    }
    .nav-link{
        position: relative;
    }
    .nav-link:hover:after{
      width: 13%;
    }
    .navbar span{
      margin-left: 0px;
    }
    #active{
        width: 53px;
    }
}



.images{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)) , url(../image/22.webp);
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -7%;
    width: 100%;
}
.body-parag h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    text-align: center;
}
.body-parag a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding: 15px 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 72%;
    text-align: center;
    left: 43%;
}
.body-parag a:hover{
    background-color: #fff;
    color: #000;
}
@media screen and (max-width: 900px) {
    .images{
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .body-parag h1{
        font-size: 40px;
        position: relative;
        left: 50%;
        margin-top: 68%;
        text-align: center;
    }
    .body-parag a{
        position: relative;
        margin-top: 0%;
        left: 0%;
    }
   
}

/* End Header Section */



/* About Sec */


.about-sec{
    margin-top: 570px;
}

.shadowss{
    padding: 0rem;
    position: relative;
    margin-top: 50px;
    background-color: rgba(233,246,255,1);
    left: 2%;
    z-index: 2;
    box-shadow: : 0 1px 1px 0 rgb(0 0 0 / 19%), 0 2px 5px 0 rgb(0 0 0 / 40%);
}

.im img{
    width: 46%;
    height: 440px;
    background-position: center;
}

.about-bodys{
    position: absolute;
    top: 15%;
    left: 50%;
}
.about-bodys h1{
   letter-spacing: 2px;
   font-size: 36px;
}

.about-bodys h1:after{
    content: '';
    position: absolute;
    top: 28%;
    left: 0%;
    border-bottom: 4px solid blue;
    width: 104px;
    height: 3px;
}

.about-bodys h4{
    position: relative;
    margin-top: 11%;
}
.about-bodys p{
    font-size: 2.3vh;
    position: relative;
    width: 550px;
    margin-top: 3%;
}

.about-bodys a{
    text-decoration: none;
    color: #333;
    padding: 16px 60px;
    border: 1px solid #000;
    font-size: 19px;
    position: absolute;
    top: 110%;
}

.about-bodys a:hover{
    background-color: #2c3e50;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .shadowss{
        position: relative;
        padding: 0rem;
        margin-top: 0px;
        overflow-x: hidden;
        left: 0%;
    }
    .im img{
        width: 100%;
        margin-top:460px;
    }
  .about-bodys{
    position: absolute;
    top: 7%;
    left: 3.5%;
  }
  .about-bodys h1{
    margin-left: 0px;
    font-size: 32px;
  }
  .about-bodys h1:after{
    position: absolute;
    left: 0%;
    top: 25%;
  }
  .about-bodys h4{
    position: relative;
    margin-top: 12%;
    left: 0%;
    font-size: 20px;
  }
   .about-bodys p{
    width: 390px;
    position: relative;
    margin-top: 7%;
    left: 0%;
    font-size: 16px;

   }
   .about-bodys a{
    position: absolute;
    left: 0%;
    top: 112%;
    padding: 12px 40px;
   }

    
}

/* End About Sec */




/* Contact Section */



.contact-sec{
    background-color: #5171A5;
    position: relative;
    margin-top: 6%;
    height: 570px;
    color: #fff;
}

 .left-box{
    background-color: rgba(34,56,85,1);
    width: 580px;
    height: 500px;
    margin-top: 57px;
}
 .box-title{
     position: absolute;
     top: 15%;
     left: 10%;
}

.left-box .box-title p{
    width: 480px;
    margin-top: 10px;
}

@media screen and (max-width: 700px) {
    .contact-sec{
        margin-top: 60px;
        height: 1000px;

    }

     .left-box{
        width: 420px;
        height: 360px;
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .left-box .box-title{
        margin-top: 0px;
        margin-left: -18px;
    }

    .left-box .box-title p{
        width: 390px;
        line-height: 1.6em;
    }
}


.forms{
    position: absolute;
    top: 55%;
    left: 67%;
    transform: translate(-50%, -50%);
}

form input{
    margin-bottom: 20px;
    margin-top: 0px;
    width: 570px;
    border: none;
    position: relative;
    background:none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;

}

form input:hover{
    border: 1px solid #00008b;
    background-color: #fff;
    color: #000;
}

form .btn{
    font-size: 18px;
    border: 1px solid #fff;
    padding: 17px 79px;
    color: #fff;
}

form .btn:hover{
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 700px) {
    .forms {
        position: absolute;
        top: 73%;
        left: 51%;
    }
   form input{
    width: 390px;
    }
    form a{
        margin-left: 76px;
        margin-top: 24px;
    }
}

.pop{
    position: absolute;
    top: 0%;
    left: 10%;
    transform: translate(-50%, -50%) scale(0.1);
    background-color: #000;
    visibility: hidden;
    color: #fff;
    width: 450px;
    height: 420px;
    z-index: 999;
    transition: all 0.3s;
}

.pops{
    transform: translate(-50%, -50%) scale(1.0);
    visibility: visible;
    top: 30%;
}


.pop-body{
    position: relative;
    left: 0%;
    margin-top: 8%;
    text-align: center;
}

.pop-body i{
    font-size: 40px;
    padding:18px 26px;
    background-color: green;
    border-radius: 50%;
}
.pop-body h2{
     margin-top: 40px;
}
.pop-body p{
    margin-top: 23px;
}
.pop-body a{
    padding: 15px 90px;
    background-color: #fff;
    position: absolute;
    left: 27.5%;
    top: 126%;
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 600px) {
    .pop{
        position: absolute;
        left: 49%;
        width: 410px;
        text-align: center;

    }
    .pop-body a{
        margin-left: -7px;
    }
}

/* End Contact Section */


/* Service Section */
.service{
    position: relative;
    margin-top: 8%;
    left: 1%;
}
.button {
    margin-top: 80px;
}
.button a{
    position: relative;
    left: 42%;
    margin-top: 20%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 18px;
    padding: 19px 60px;
    color: #000;
    border: 1px solid #000;
}

.button a:hover{
    background-color: #2c3e50;
    color: #fff;
}



@media screen and (max-width: 600px) {
    .service{
        position: relative;
        margin-top: 36%;
        z-index: 2;
    }
    .ima img{
        position: relative;
        margin-top: 4%;
        left: 48.6%;
        transform: translate(-50%, -50%);
        width: 405px;
        height: 240;

    }
    .button{
        position: relative;
        margin-top: -4%;
        left: 10%;
        transform: translate(-50%, -50%);
        text-align: center;
        

    }
}

/* End Service Section */
/* Blog Section */
.blogs {
    position: relative;
    margin-top: 5%;
}
.card-group{
    margin-top: 50px;
}
.card{
    margin: 1.8rem;
}
.card-body{
    margin-left: -10px;
}
.card-body p{
    margin-top: 6px;
    width: 400px;
}

.card-img-top{
    transform: scale(1);
    transform: 0.3s ease-in-out;
    background-position: center;
}
.card-img-top:hover{
    transform: scale(1.1);
}

#links {
    position: absolute;
    top: 89%;
}
@media only screen and (max-width: 620px) {
    .blogs h2{
        position: relative;
        margin-top: 15%;
        left: -1%;
    }
    #text1{
        width: 360px;

    }
    #text3{
        width: 360px;
    }
    #links{
        position: absolute;
        top: 94%;
    }
    .card-group{
        margin-left: -10px;
    }
    #cardss{
        margin-top: 44px;
    }

    .card-body{
        margin-left: -13px;
    }
}

/* End Blog Section */

/* Footer Section */

footer{
    width: 100%;
    height: 375px;
    background-color: rgba(34,56,85,1);
    margin-top: 10px;
    color: #fff;
}
.footer{
    position: relative;
    left: 4%;
    margin-top: 0%;
}

.footer ul li{
    list-style: none;
    line-height: 1.5em;
}
#head0{
    font-family: monospace;
    font-size: 25px;
    margin-top: 6px;
}
#head1{
    font-family: monospace;
    font-size: 20px;
    margin-left: 64px;
}
#head2{
    font-family: monospace;
    font-size: 20px;
}
#head3{
   font-family: monospace;
   font-size: 20px;
}
.link1{
    margin-left: 38px;
    margin-top: 18px;
    line-height: 2em;
    font-size: 15px;
    white-space: initial;
}

.link2{
    margin-left: -30px;
    margin-top: 20px;
    font-size: 15px;
    font-family: Montserrat;
}

.link3{
    margin-left: -33px;
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 17px;
}

.link3 a{
    position: relative;
    margin-top: 10%;
    margin-left: -14px;
    margin: 0.4rem;
}
.ico{
    margin-left: -10px;
}

.link3 a i{
    font-size: 26px;
    text-decoration: none;
    width: 50px;
    height: 50px;
    color: #fff;
}

.footer::after{
    content: "";
    width: 210%;
    height: 3px;
    position: absolute;
    top: 80%;
    left: 0%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #fff;

}

#col4{
    position: relative;
    margin-top: 5%;
}

@media screen and (max-width: 700px) {
    footer{
        width: 100%;
        height: 959px;
    }

    .footer{
        position: relative;
        left: 0%;
    }
    #pag1{
        width: 380px;
    }
    #head1{
        margin-left: 4px;
    }
    .link1{
       margin-left: -20px;
    }
    #head2{
        margin-left: 5px;
    }
    .link2{
        position: relative;
        left: 1%;

    }
    #head3{
        position: relative;
        left: 1%;
    }
    .link3{
        margin-left: -24px;
    }

    .footer::after{
        position: absolute;
        top: 103%;
    }
    #col4{
      position: absolute;
      top: 102%;
      left: -2%;
    }
}



/* End Footer Section */